
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@using PractiseApplication1.Models;
@{
    List<Products> products = (List<Products>)ViewData["catalog"];
    <h1>LIST OF PRODUCTS</h1>
    <ol>
        @{
            foreach (Products product in products)
            {
                <li>
                    @product.Title
                    @product.Description
                    @product.UnitPrice
                    @product.Quantity
                    @product.ImageUrl
                </li>
            }
        }
    </ol>

}



