@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@using PractiseApplication1.Models;
@{
    <html>
    <head>
        <title>Product Details</title>
    </head>
    <body>
        <form asp-action="GetById" method="post">
            <label for="productId">Enter Product ID:</label>
            <input type="text" id="productId" name="id" />
            <button type="submit">Get Product</button>
        </form>

        @if (ViewData["catalog1"] != null)
        {
            var products = (Products)ViewData["catalog1"];
            <ul>
                <li>Title: @products.Title</li>
                <li>Description: @products.Description</li>
                <li>Unit Price: @products.UnitPrice</li>
                <li>Quantity: @products.Quantity</li>
                <li>Image URL: @products.ImageUrl</li>
            </ul>
        }
    </body>
    </html>
}
